<mat-card class="mat-elevation-z0 spaceTop">
    <mat-card-header>
        <mat-card-title>
            Minhas solicitações
        </mat-card-title>
        <mat-card-subtitle>
            Aqui você pode acompanhar o andamento de suas solicitações
        </mat-card-subtitle>
    </mat-card-header>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z0">

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef class="tableFontHeader"> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="company">
            <th mat-header-cell *matHeaderCellDef class="tableFontHeader"> Empresa </th>
            <td mat-cell *matCellDef="let element">
                <label class="table-item-title">{{element.company}}</label><br>
                <label class="table-item-subtitle">CNPJ: {{element.cnpj  | mask: '00.000.000/0000-00'}}</label>
            </td>
        </ng-container>

        <ng-container matColumnDef="plan">
            <th mat-header-cell *matHeaderCellDef class="tableAlignHeader tableFontHeader"> Plano </th>
            <td mat-cell *matCellDef="let element" class="tableAlignCell tableColorCell"> {{this.getPlan(element.plan)}} </td>
        </ng-container>

        <ng-container matColumnDef="tariff">
            <th mat-header-cell *matHeaderCellDef class="tableAlignHeader tableFontHeader"> Tarifa </th>
            <td mat-cell *matCellDef="let element" class="tableAlignCell tableColorCell"> {{element.tariff | currency: 'BRL'}}  </td>
        </ng-container>

        <ng-container matColumnDef="minutes">
            <th mat-header-cell *matHeaderCellDef class="tableAlignHeader tableFontHeader"> Minutos </th>
            <td mat-cell *matCellDef="let element" class="tableAlignCell tableColorCell"> {{this.getMinutes(element.minutes)}} </td>
        </ng-container>

        <ng-container matColumnDef="planValue">
            <th mat-header-cell *matHeaderCellDef class="tableAlignHeader tableFontHeader"> Valor do plano </th>
            <td mat-cell *matCellDef="let element" class="tableAlignCell tableColorCell"> {{element.planValue | currency: 'BRL'}} </td>
        </ng-container>

        <ng-container matColumnDef="accessionDate">
            <th mat-header-cell *matHeaderCellDef class="tableAlignHeader tableFontHeader"> Data de adesão </th>
            <td mat-cell *matCellDef="let element" class="tableAlignCell tableColorCell"> {{element.accessionDate | date: 'shortDate'}} </td>
        </ng-container>

        <ng-container matColumnDef="sendDate">
            <th mat-header-cell *matHeaderCellDef class="tableAlignHeader tableFontHeader"> Data de adesão </th>
            <td mat-cell *matCellDef="let element" class="tableAlignCell tableColorCell"> {{element.sendDate | date: 'shortDate'}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef class="tableAlignHeader tableFontHeader"> Ação </th>
            <td mat-cell *matCellDef="let element" class="tableAlignCell tableColorCell"> <button mat-button
                    [matMenuTriggerFor]="menuActions">{{element.action}}</button> </td>
        </ng-container>

        <mat-menu #menuActions="matMenu">
            <button mat-menu-item>Detalhes</button>
            <button mat-menu-item>Editar</button>
            <button mat-menu-item>Remover</button>
        </mat-menu>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</mat-card>