<h1 mat-dialog-title>Requisição</h1>
<div mat-dialog-content>
    <form [formGroup]="newRequestForm" novalidate (ngSubmit)="onSubmit()">
        <div class="formLayout" fxLayout="row" fxLayoutGap="20px">
            <mat-form-field fxFlex>
                <mat-label>Empresa</mat-label>
                <input matInput placeholder="" formControlName="company">
                <mat-error *ngIf="newRequestForm.controls['company'].hasError('required')">
                    Empresa é <strong>obrigatório</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="25">
                <mat-label>CNPJ</mat-label>
                <input matInput placeholder="" formControlName="cnpj" mask="00.000.000/0000-00">
                <mat-error *ngIf="newRequestForm.controls['cnpj'].hasError('required')">
                    CNPJ é <strong>obrigatório</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="25">
                <mat-label>Plano</mat-label>
                <mat-select formControlName="plan">
                    <mat-option>Selecione</mat-option>
                    <mat-option *ngFor="let plan of _talkMorePlan" [value]="plan.value">
                        {{plan.label}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="newRequestForm.controls['plan'].hasError('required')">
                    Plano é <strong>obrigatório</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="formLayout" fxLayout="row" fxLayoutGap="20px">
            <mat-form-field fxFlex="22">
                <mat-label>Tarifa</mat-label>
                <input matInput placeholder="" formControlName="tariff" prefix="R$ " mask="separator.2"
                    thousandSeparator=".">
                <mat-error *ngIf="newRequestForm.controls['tariff'].hasError('required')">
                    Tarifa é <strong>obrigatória</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="22">
                <mat-label>Minutos</mat-label>
                <input matInput placeholder="" formControlName="minutes" suffix=" minuto(s)" mask="999999">
                <mat-error *ngIf="newRequestForm.controls['minutes'].hasError('required')">
                    Minutos é <strong>obrigatório</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="25">
                <mat-label>Valor do plano</mat-label>
                <input matInput placeholder="" formControlName="planValue" prefix="R$ " mask="separator.2"
                    thousandSeparator=".">
                <mat-error *ngIf="newRequestForm.controls['planValue'].hasError('required')">
                    Valor do plano é <strong>obrigatório</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="25">
                <mat-label>Data de Adesão</mat-label>
                <input matInput type="date" placeholder="" formControlName="accessionDate">
                <mat-error *ngIf="newRequestForm.controls['accessionDate'].hasError('required')">
                    Data de adesão é <strong>obrigatória</strong>
                </mat-error>
            </mat-form-field>

        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-raised-button (click)="onNoClick()">Cancelar</button>
    <button mat-raised-button (click)="onNoClick()">Fechar</button>
    <button mat-raised-button (click)="onSave()" class="btn-primary" fxFlexOffset="76%">Salvar</button>
    
    <!-- <div *ngIf="data.isEdit; else isDetailPage" >
        
    </div>
    <ng-template #isDetailPage>
        <div>
            
        </div>
    </ng-template> -->
</div>